
/* Visibility */

.invisible {
  visibility: hidden;
}

/* display utilities */

.hidden {
  display: none !important;
}

@include breakpoint-min($size_tablet-landscape + 1) {
  .show-desktop-md,
  .show-desktop-md-i {
    display: none !important;
  }
}

@include breakpoint($size_tablet-landscape ) {
  .show-desktop-md {
    display: block;
  }
  .show-desktop-md-i {
    display: inline-block;
  }
  tr.show-desktop-md {
    display: table-row;
  }

  .hidden-desktop-md {
    display: none !important;
  }
}

@include breakpoint-min($size_tablet + 1) {
  .show-tablet,
  .show-tablet-i {
    display: none !important;
  }

  .hidden-tablet {
  }
}
@include breakpoint($size_tablet) {
  .show-tablet {
    display: block;
  }
  .show-tablet-i {
    display: inline-block;
  }
  tr.show-tablet {
    display: table-row;
  }

  .hidden-tablet {
    display: none !important;
  }
}

@include breakpoint-min($size_mobile + 1) {
  .show-mobile,
  .show-mobile-i {
    display: none !important;
  }

  .hidden-mobile {
  }
}
@include breakpoint($size_mobile) {
  .show-mobile {
    display: block;
  }
  .show-mobile-i {
    display: inline-block;
  }
  tr.show-mobile {
    display: table-row;
  }

  .hidden-mobile {
    display: none !important;
  }
}

/* Wrapper content utilities */

.row.row-md {
  width: 1390px;
  max-width: 100%;
  margin: 0 auto;
}

/* Margin utilities */

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

@for $i from 1 through 6 {
  .mb-#{$i} {
    margin-bottom: 5px * $i !important;
  }

  .mt-#{$i} {
    margin-top: 5px * $i !important;
  }
}