
// Common progress steps

.progress-steps {
  counter-reset: step_counter;
  display: flex;
  padding-bottom: 15px;

  &.inline {
    display: inline-flex;
  }

  .step {
    position: relative;
    padding: 10px 30px 20px;
    padding-left: 15px;

    &:last-child {
      padding-left: 30px;
      padding-right: 15px;
    }

    &:not(:first-child):not(:last-child) {
      padding-left: 30px;
      padding-right: 30px;
    }

    &:before {
      background-color: #cacaca;
      border-radius: 50%;
      box-sizing: border-box;
      color: #fff;
      counter-increment: step_counter;
      content:  counter(step_counter);
      display: block;
      font-family: $font_four;
      font-size: 21px;
      font-weight: bold;
      line-height: 24px;
      padding-top: 8px;
      position: relative;
      text-align: center;
      width: 40px;
      height: 40px;
      z-index: 15;
    }

    &:after {
      background-color: #cacaca;
      border-radius: 0;
      content: '';
      height: 8px;
      position: absolute;
      left: 0;  top: calc(50% - 8px);
      width: 100%;
      z-index: 1;
    }

    &:first-child {
      &:after {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }

    &:last-child {
      &:after {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }

    >span {
      color: #cacaca;
      font-size: 14px;
      font-weight: 600;
      position: absolute;
      left: 50%; bottom: -5px;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    &.current,
    &.active {
      &:after {
        background-color: #5cab56;
      }

      &:before {
        background: #5cab56 url(assets/img/check-step@2x.png) scroll 50% 50% no-repeat;
        background-size: 20px auto;
        content: '';
      }

      >span {
        color: #5cab56;
      }
    }
  }
}

// Variation of steps with icons

.progress-steps.progress-icons {
  margin-bottom: 20px;
  
  .step {
    position: relative;
    padding: 10px 35px 25px;
    padding-left: 18px;

    &:last-child {
      padding-left: 35px;
      padding-right: 18px;
    }

    &:not(:first-child):not(:last-child) {
      padding-left: 35px;
      padding-right: 35px;
    }

    &:before {
      font-size: 0;
      width: 54px;
      height: 54px;
    }

    &:last-child {

      >span {
        left: 55%;
      }

      .step-icon {
        left: auto;
        right: 27px;
      }
    }

    >span {
      font-size: 16px;
      margin-bottom: -8px;
    }
  }

  .step-icon {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 19px;
    right: 44px;
    z-index: 30;
    font-size: 20px;
  }
}