$color_eggshell:#FFF9EF;
$color_green:#3CAE49;
$color_black:#201D1E;
$color_grey:#929497;
$color_white: #FFFFFF;

$color_brown: #514D4A;
$color_grey-light: #BBBDBF;
$color_beige:#E9E9E1;

$color_grey-light-2: #ebeced;
$color_grey-2: #f5f5f5;