$size_desktop-large: 1600px;
$size_desktop: 1200px;
$size_tablet-landscape: 992px;
$size_tablet: 768px;
$size_mobile-landscape: 650px;
$size_mobile: 568px;
$max-page-width:1600px;
$main_menu_breakpoint:1070px;
