$font_main: 'Open Sans', sans-serif;
$font_two: 'Montserrat', sans-serif;
$font_three: 'Courier 10 Pitch', Courier, monospace;
$font_four:  'Gilroy', Helvetica, sans-serif;

$font__line-height-body: 1;
$font__line-height-pre: 1;

$h2_font-size:26px;
