@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin clearfix() {
	content: "";
	display: table;
	clear: both;
}

@mixin breakpoint($size) {
	@media screen and (max-width: $size) { @content; } 
}

@mixin breakpoint-min($size) {
	@media screen and (min-width: $size) { @content; } 
}

@mixin placeholder($fontSize:14px, $color: #000) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
    font-size: $fontSize;
    font-weight: 300;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
    font-size: $fontSize;
    font-weight: 300;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
    font-size: $fontSize;
    font-weight: 300;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
    font-size: $fontSize;
    font-weight: 300;
  }
}